<%
    viewBag.pageTitle = 'FED - 首页';
    viewBag.cssFiles = ['account'];
    viewBag.menu = 'account';
%>

<%- include('../../common/header.ejs') %>

<%- include('../../common/manage-nav.ejs') %>

<%- include('../../common/manage-menu.ejs') %>

	<div class="page-manage-content">
		<div class="account-item username">
			<div class="title clearfix">
				<div class="info">
					<h4>User Name</h4>
					<p id="old-username"><%= viewBag.user.username %></p>
				</div>
				<div class="operation edit-inline">
					<input id="textbox-username" type="text" max="18" value="<%= viewBag.user.username %>">
					<span class="fa fa-save" data-action="save-username"></span>
					<span class="fa fa-edit"></span>
				</div>
			</div>
		</div>
		<div class="account-item email">
			<div class="title clearfix">
				<div class="info">
					<h4>Email</h4>
					<p id="old-email"><%= viewBag.user.email %></p>
				</div>
				<div class="operation edit-inline">
					<input id="textbox-email" type="text" value="<%= viewBag.user.email %>">
					<span class="fa fa-save" data-action="save-email"></span>
					<span class="fa fa-edit"></span>
				</div>
			</div>
		</div>
		<div class="account-item password active">
			<div class="title clearfix">
				<div class="info">
					<h4>Password</h4>
					<p><%= viewBag.user.password %></p>
				</div>
				<div class="operation">
					<span class="fa fa-edit"></span>
				</div>
			</div>
			<div class="content">
				<div class="textbox">
					<input id="old-password" type="password" placeholder="Old Password">
				</div>
				<div class="textbox">
					<input id="new-password" type="password" placeholder="New Password">
					<span class="check-item">
						<span class="check-1"></span>
						<span class="check-2"></span>
					</span>
				</div>
				<div class="textbox">
					<input id="confirm-password" type="password" placeholder="Confirm New Password">
					<span class="check-item"><span class="check"></span></span>
				</div>
				<div class="operation">
					<a href="javascript:;" class="btn btn-primary">
						<span class="icon fa fa-save"></span>
						<span class="text">Save</span>
					</a>
					<a href="javascript:;" class="btn btn-default" data-action="cancel">
						<span class="text">Cancel</span>
					</a>
				</div>
				</div>
			</div>
		</div>
	</div>

<%
    viewBag.scriptsFiles = ['pages/manage/account/account'];
%>

<%- include('../../common/footer.ejs') %>